<section>
  <h1>Blog Post</h1>

  <img ngSrc="/assets/Garage.png" alt="Garage png" width="500" height="300" />

  <article>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem, expedita
      sit nam ratione at quasi beatae! Expedita dolor eaque assumenda qui illo
      magnam deserunt, fugiat corrupti minus quos voluptatum est. Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Impedit beatae omnis neque
      alias, eligendi quibusdam deserunt saepe cumque rem, quidem autem dolores
      vero illo accusantium voluptatum at, nostrum dolorem obcaecati.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem, expedita
      sit nam ratione at quasi beatae! Expedita dolor eaque assumenda qui illo
      magnam deserunt, fugiat corrupti minus quos voluptatum est. Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Impedit beatae omnis neque
      alias, eligendi quibusdam deserunt saepe cumque rem, quidem autem dolores
      vero illo accusantium voluptatum at, nostrum dolorem obcaecati.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem, expedita
      sit nam ratione at quasi beatae! Expedita dolor eaque assumenda qui illo
      magnam deserunt, fugiat corrupti minus quos voluptatum est. Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Impedit beatae omnis neque
      alias, eligendi quibusdam deserunt saepe cumque rem, quidem autem dolores
      vero illo accusantium voluptatum at, nostrum dolorem obcaecati.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem, expedita
      sit nam ratione at quasi beatae! Expedita dolor eaque assumenda qui illo
      magnam deserunt, fugiat corrupti minus quos voluptatum est. Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Impedit beatae omnis neque
      alias, eligendi quibusdam deserunt saepe cumque rem, quidem autem dolores
      vero illo accusantium voluptatum at, nostrum dolorem obcaecati.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem, expedita
      sit nam ratione at quasi beatae! Expedita dolor eaque assumenda qui illo
      magnam deserunt, fugiat corrupti minus quos voluptatum est. Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Impedit beatae omnis neque
      alias, eligendi quibusdam deserunt saepe cumque rem, quidem autem dolores
      vero illo accusantium voluptatum at, nostrum dolorem obcaecati.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem, expedita
      sit nam ratione at quasi beatae! Expedita dolor eaque assumenda qui illo
      magnam deserunt, fugiat corrupti minus quos voluptatum est. Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Impedit beatae omnis neque
      alias, eligendi quibusdam deserunt saepe cumque rem, quidem autem dolores
      vero illo accusantium voluptatum at, nostrum dolorem obcaecati.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem, expedita
      sit nam ratione at quasi beatae! Expedita dolor eaque assumenda qui illo
      magnam deserunt, fugiat corrupti minus quos voluptatum est. Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Impedit beatae omnis neque
      alias, eligendi quibusdam deserunt saepe cumque rem, quidem autem dolores
      vero illo accusantium voluptatum at, nostrum dolorem obcaecati.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem, expedita
      sit nam ratione at quasi beatae! Expedita dolor eaque assumenda qui illo
      magnam deserunt, fugiat corrupti minus quos voluptatum est. Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Impedit beatae omnis neque
      alias, eligendi quibusdam deserunt saepe cumque rem, quidem autem dolores
      vero illo accusantium voluptatum at, nostrum dolorem obcaecati.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem, expedita
      sit nam ratione at quasi beatae! Expedita dolor eaque assumenda qui illo
      magnam deserunt, fugiat corrupti minus quos voluptatum est. Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Impedit beatae omnis neque
      alias, eligendi quibusdam deserunt saepe cumque rem, quidem autem dolores
      vero illo accusantium voluptatum at, nostrum dolorem obcaecati.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem, expedita
      sit nam ratione at quasi beatae! Expedita dolor eaque assumenda qui illo
      magnam deserunt, fugiat corrupti minus quos voluptatum est. Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Impedit beatae omnis neque
      alias, eligendi quibusdam deserunt saepe cumque rem, quidem autem dolores
      vero illo accusantium voluptatum at, nostrum dolorem obcaecati.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem, expedita
      sit nam ratione at quasi beatae! Expedita dolor eaque assumenda qui illo
      magnam deserunt, fugiat corrupti minus quos voluptatum est. Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Impedit beatae omnis neque
      alias, eligendi quibusdam deserunt saepe cumque rem, quidem autem dolores
      vero illo accusantium voluptatum at, nostrum dolorem obcaecati.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem, expedita
      sit nam ratione at quasi beatae! Expedita dolor eaque assumenda qui illo
      magnam deserunt, fugiat corrupti minus quos voluptatum est. Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Impedit beatae omnis neque
      alias, eligendi quibusdam deserunt saepe cumque rem, quidem autem dolores
      vero illo accusantium voluptatum at, nostrum dolorem obcaecati.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem, expedita
      sit nam ratione at quasi beatae! Expedita dolor eaque assumenda qui illo
      magnam deserunt, fugiat corrupti minus quos voluptatum est. Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Impedit beatae omnis neque
      alias, eligendi quibusdam deserunt saepe cumque rem, quidem autem dolores
      vero illo accusantium voluptatum at, nostrum dolorem obcaecati.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem, expedita
      sit nam ratione at quasi beatae! Expedita dolor eaque assumenda qui illo
      magnam deserunt, fugiat corrupti minus quos voluptatum est. Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Impedit beatae omnis neque
      alias, eligendi quibusdam deserunt saepe cumque rem, quidem autem dolores
      vero illo accusantium voluptatum at, nostrum dolorem obcaecati.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem, expedita
      sit nam ratione at quasi beatae! Expedita dolor eaque assumenda qui illo
      magnam deserunt, fugiat corrupti minus quos voluptatum est. Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Impedit beatae omnis neque
      alias, eligendi quibusdam deserunt saepe cumque rem, quidem autem dolores
      vero illo accusantium voluptatum at, nostrum dolorem obcaecati.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem, expedita
      sit nam ratione at quasi beatae! Expedita dolor eaque assumenda qui illo
      magnam deserunt, fugiat corrupti minus quos voluptatum est. Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Impedit beatae omnis neque
      alias, eligendi quibusdam deserunt saepe cumque rem, quidem autem dolores
      vero illo accusantium voluptatum at, nostrum dolorem obcaecati.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem, expedita
      sit nam ratione at quasi beatae! Expedita dolor eaque assumenda qui illo
      magnam deserunt, fugiat corrupti minus quos voluptatum est. Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Impedit beatae omnis neque
      alias, eligendi quibusdam deserunt saepe cumque rem, quidem autem dolores
      vero illo accusantium voluptatum at, nostrum dolorem obcaecati.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem, expedita
      sit nam ratione at quasi beatae! Expedita dolor eaque assumenda qui illo
      magnam deserunt, fugiat corrupti minus quos voluptatum est. Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Impedit beatae omnis neque
      alias, eligendi quibusdam deserunt saepe cumque rem, quidem autem dolores
      vero illo accusantium voluptatum at, nostrum dolorem obcaecati.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem, expedita
      sit nam ratione at quasi beatae! Expedita dolor eaque assumenda qui illo
      magnam deserunt, fugiat corrupti minus quos voluptatum est. Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Impedit beatae omnis neque
      alias, eligendi quibusdam deserunt saepe cumque rem, quidem autem dolores
      vero illo accusantium voluptatum at, nostrum dolorem obcaecati.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem, expedita
      sit nam ratione at quasi beatae! Expedita dolor eaque assumenda qui illo
      magnam deserunt, fugiat corrupti minus quos voluptatum est. Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Impedit beatae omnis neque
      alias, eligendi quibusdam deserunt saepe cumque rem, quidem autem dolores
      vero illo accusantium voluptatum at, nostrum dolorem obcaecati.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem, expedita
      sit nam ratione at quasi beatae! Expedita dolor eaque assumenda qui illo
      magnam deserunt, fugiat corrupti minus quos voluptatum est. Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Impedit beatae omnis neque
      alias, eligendi quibusdam deserunt saepe cumque rem, quidem autem dolores
      vero illo accusantium voluptatum at, nostrum dolorem obcaecati.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem, expedita
      sit nam ratione at quasi beatae! Expedita dolor eaque assumenda qui illo
      magnam deserunt, fugiat corrupti minus quos voluptatum est. Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Impedit beatae omnis neque
      alias, eligendi quibusdam deserunt saepe cumque rem, quidem autem dolores
      vero illo accusantium voluptatum at, nostrum dolorem obcaecati.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem, expedita
      sit nam ratione at quasi beatae! Expedita dolor eaque assumenda qui illo
      magnam deserunt, fugiat corrupti minus quos voluptatum est. Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Impedit beatae omnis neque
      alias, eligendi quibusdam deserunt saepe cumque rem, quidem autem dolores
      vero illo accusantium voluptatum at, nostrum dolorem obcaecati.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem, expedita
      sit nam ratione at quasi beatae! Expedita dolor eaque assumenda qui illo
      magnam deserunt, fugiat corrupti minus quos voluptatum est. Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Impedit beatae omnis neque
      alias, eligendi quibusdam deserunt saepe cumque rem, quidem autem dolores
      vero illo accusantium voluptatum at, nostrum dolorem obcaecati.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem, expedita
      sit nam ratione at quasi beatae! Expedita dolor eaque assumenda qui illo
      magnam deserunt, fugiat corrupti minus quos voluptatum est. Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Impedit beatae omnis neque
      alias, eligendi quibusdam deserunt saepe cumque rem, quidem autem dolores
      vero illo accusantium voluptatum at, nostrum dolorem obcaecati.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem, expedita
      sit nam ratione at quasi beatae! Expedita dolor eaque assumenda qui illo
      magnam deserunt, fugiat corrupti minus quos voluptatum est. Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Impedit beatae omnis neque
      alias, eligendi quibusdam deserunt saepe cumque rem, quidem autem dolores
      vero illo accusantium voluptatum at, nostrum dolorem obcaecati.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem, expedita
      sit nam ratione at quasi beatae! Expedita dolor eaque assumenda qui illo
      magnam deserunt, fugiat corrupti minus quos voluptatum est. Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Impedit beatae omnis neque
      alias, eligendi quibusdam deserunt saepe cumque rem, quidem autem dolores
      vero illo accusantium voluptatum at, nostrum dolorem obcaecati.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem, expedita
      sit nam ratione at quasi beatae! Expedita dolor eaque assumenda qui illo
      magnam deserunt, fugiat corrupti minus quos voluptatum est. Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Impedit beatae omnis neque
      alias, eligendi quibusdam deserunt saepe cumque rem, quidem autem dolores
      vero illo accusantium voluptatum at, nostrum dolorem obcaecati.
    </p>
  </article>

  <h2>Comments</h2>
  @defer (on viewport){<comments-component />} @placeholder {
  <p>Esperando a cargar los comentarios</p>
  } @loading(minimum 2s) {
  <p>Cargando Comentarios...</p>
  }
</section>
